*{
  background: #c1c7c7;
}

.animal{
  display: flex;
 justify-content: center;
 align-items: center;
  
}

.animal-name{
  background: rgb(140, 140, 212);
  border-radius: 30%;
  padding: 5px;
 

}

.isMammal{
  color:green;
  margin-left: 10px;
}

.is-not-Mammal{
  margin-left: 10px;
  color: red;
}